body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.nav {
    text-align: right;
    margin: 25px 50px 10px 0;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
.name1{
    color: blueviolet;
    font-size: 40px;
    
}
h1{
    font-size: 40px;
    margin-top: 30%;
}
.p1{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;

}
.p1 img{
    width: 100%;
    
    
}
section{
    height: 650px;

}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,yellow,orange);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
.word
{
    color: coral;
}
.only{
    text-align: center;
    margin: 0;
}
.border{
    background-color: rgba(128, 128, 128, 0.192);
}
.iim{
    width: 27%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 10px 10x 40px gray;
    background-color: white;
    border-radius: 20px;
    height: 60%;
}
.iim img{
    width: 90%;
    padding-left: 18px;
    padding-top: 10px;

}
.an{
    padding-left: 8px;
}

.inquiry-section {
    margin-top: 100px;
    height: 300px;
}

.inquiry {
    margin: 0 auto;
    background-image: url("images/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 60%;
    text-align: center;
}
.inquiry h3 {
    margin-top: -20px;
    font-size: 40px;
    float: left;
    color: white;
}
.inquiry .text {
    padding-top: 90px;
    margin: 40px 50px 20px;

}
.btn{
    margin-left: 75%;
    margin-top: -20px;
}

.footer{
    text-align: center;
    margin: 70px auto 50px;
}
.footer p {
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px auto;
}
.footer h4 {
    font-size: 30px;
    margin: 20px auto;
}
.icon {
    width: 30px;
    margin: auto 10px;
}